Repository salsify/avro-schema-registry, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ezcater/demand-api, @ezcater/sre, @ezcater/devex

upgrading to debian 11 slim
  Dockerfile
Owners: @ezcater/devex

Bumped Rack version
  Gemfile.lock
Owners: @ezcater/demand-api

Upgrade to latest Rails 6.0.x
  Gemfile.lock
Owners: @ezcater/demand-api

Upgrade to latest Rails 6.0.x (#375)
  Gemfile.lock
Owners: @ezcater/demand-api

Testing issues as part of a bug bounty, please do not approve.. (hsknjk)
  Rakefile
Owners: @ezcater/demand-api

Bump ruby 2.7.8
  .circleci/config.yml
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
Owners: @ezcater/demand-api, @ezcater/devex

Bump ruby 2.7.8 (#397)
  .circleci/config.yml
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
Owners: @ezcater/demand-api, @ezcater/devex

fix: Gemfile & Gemfile.lock to reduce vulnerabilities
  Gemfile
  Gemfile.lock
Owners: @ezcater/demand-api

Use upstream Ruby image for CI
  .circleci/config.yml
Owners: @ezcater/demand-api

Use upstream Ruby image for CI (#402)
  .circleci/config.yml
Owners: @ezcater/demand-api

fix: Gemfile & Gemfile.lock to reduce vulnerabilities (#401)
  Gemfile
  Gemfile.lock
Owners: @ezcater/demand-api

Update Dependabot config to only open security PRs
  .github/dependabot.yml
Owners: @ezcater/demand-api

Update Dependabot config to only open security PRs (#403)
  .github/dependabot.yml
Owners: @ezcater/demand-api

Use rbenv compatible .ruby-version
  .ruby-version
Owners: @ezcater/demand-api

Fix Puma config
  config/puma.rb
Owners: @ezcater/demand-api

Use rbenv compatible .ruby-version (#406)
  .ruby-version
Owners: @ezcater/demand-api

Fix Puma config (#407)
  config/puma.rb
Owners: @ezcater/demand-api

Upgrade New Relic gem
  Gemfile.lock
Owners: @ezcater/demand-api

Upgrade New Relic gem (#408)
  Gemfile.lock
Owners: @ezcater/demand-api

Set CODEOWNERS
  CODEOWNERS
  README.md
Owners: @ezcater/demand-api

Fix docker build failure due to bundler dependency on Ruby 3.0
  Dockerfile
Owners: @ezcater/devex

Set CODEOWNERS (#409)
  CODEOWNERS
  README.md
Owners: @ezcater/demand-api

[WIP]
  .circleci/config.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  app/api/subject_api.rb
  app/models/schemas/register_new_version.rb
  app/models/subject.rb
  bin/rails
  bin/rake
  bin/rspec
  bin/rubocop
  bin/spring
  config/application.rb
  config/initializers/inflections.rb
  config/spring.rb
  spec/zeitwerk_spec.rb
Owners: @ezcater/demand-api, @ezcater/devex

Update rails to 6.1
  Gemfile
  Gemfile.lock
  config/application.rb
  config/initializers/inflections.rb
  spec/zeitwerk_spec.rb
Owners: @ezcater/demand-api

Remove spring and listen
  Gemfile
  Gemfile.lock
  bin/rails
  bin/rake
  bin/rspec
  bin/rubocop
  bin/spring
  config/environments/development.rb
  config/spring.rb
Owners: @ezcater/demand-api

Remove procto to fix keyword arg changes
  Gemfile
  Gemfile.lock
  app/api/subject_api.rb
  app/models/schemas/register_new_version.rb
Owners: @ezcater/demand-api

Update to Ruby 3.2
  .circleci/config.yml
  .rubocop.yml
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
Owners: @ezcater/demand-api, @ezcater/devex

Update salsify_rubocop
  Gemfile.lock
  app/api/helpers/cache_helper.rb
  app/api/subject_api.rb
  app/models/subject.rb
Owners: @ezcater/demand-api

Update to Ruby 3.2 and Rails 6.1 [PIMCORE-450] (#411)
  .circleci/config.yml
  .rubocop.yml
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  app/api/helpers/cache_helper.rb
  app/api/subject_api.rb
  app/models/schemas/register_new_version.rb
  app/models/subject.rb
  bin/rails
  bin/rake
  bin/rspec
  bin/rubocop
  bin/spring
  config/application.rb
  config/environments/development.rb
  config/initializers/inflections.rb
  config/spring.rb
  spec/zeitwerk_spec.rb
Owners: @ezcater/demand-api, @ezcater/devex

Update to Rails 7
  Gemfile
  Gemfile.lock
  README.md
  config/application.rb
  config/initializers/new_framework_defaults_6_0.rb
Owners: @ezcater/demand-api

Fix specs
  spec/models/schema_spec.rb
Owners: @ezcater/demand-api

Remove `RAILS_DEVELOPMENT_HOSTS`
  config/environments/development.rb
Owners: @ezcater/demand-api

Upgrade to Rails 7 [PIMCORE-917] (#415)
  Gemfile
  Gemfile.lock
  README.md
  config/application.rb
  config/environments/development.rb
  config/initializers/new_framework_defaults_6_0.rb
  spec/models/schema_spec.rb
Owners: @ezcater/demand-api

Upgrade to Ruby 3.3.1
  .circleci/config.yml
  .rubocop.yml
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
Owners: @ezcater/demand-api, @ezcater/devex

Upgrade to Ruby 3.3.1 (#416)
  .circleci/config.yml
  .rubocop.yml
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
Owners: @ezcater/demand-api, @ezcater/devex

Bundle update
  Gemfile.lock
  config/initializers/content_security_policy.rb
Owners: @ezcater/demand-api

Remove use of deprecated Grape constants
  spec/support/contexts/content_type_context.rb
Owners: @ezcater/demand-api

Bundle update
  Gemfile.lock
Owners: @ezcater/demand-api

Update Ruby patch version
  .circleci/config.yml
  .ruby-version
  Dockerfile
  Gemfile
  README.md
Owners: @ezcater/demand-api, @ezcater/devex

Rubcop changes
  config/initializers/content_security_policy.rb
Owners: @ezcater/demand-api

.github/CODEOWNERS:

* @ezcater/demand-api

production-readiness.md @ezcater/sre

# devex wants to be notified of changes to Dockerfiles and docker-compose.yaml
# so we can be sure to integrate them with eztilt, if necessary
Dockerfile*                   @ezcater/devex
docker-compose.yml            @ezcater/devex
